{% extends 'base_form.html.twig' %}

{% set icon = 'fa-book-open' %}
{% set iconLabel = 'CCTP' %}

{% set title = 'Modifier un CCTP' %}
{% set h1 = 'Modification CCTP' %}
{% set labelSubmit = 'Modifier' %}

{% block form %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.longueur) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.largeur) }}
        </div>
    </div>
{% endblock %}