.form-custom {
    width: 100%;
    max-width: 600px;
    margin: 20px auto auto;
}
.form-custom .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 18px;
}