.form-register {
    width: 100%;
    max-width: 500px;
    margin: 20px auto auto;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.btn:hover {
    color: pink !important;
}