{% extends 'base.html.twig' %}

{% block title %}Ajouter une regle de calcul{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="row text-center">
        <div class="col-md-12 mt-3 mb-3">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
