{% extends 'base_form.html.twig' %}

{% set title = 'Ajouter un CCTP' %}
{% set h1 = 'Création d\'un CCTP' %}

{% block form %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.quantite) }}
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}