{% extends 'base_form.html.twig' %}

{% set icon = 'fa-cubes' %}
{% set iconLabel = 'Modules' %}

{% set title = 'Ajouter un module' %}
{% set h1 = 'Création d\'un module' %}

{% block form %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.quantite) }}
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}